{% extends "AppProyectoFinal/padre_admin.html" %}

{% block Titulo %} Mi perfil {% endblock  %}

{% block CuerpoDeLaPagina %}

<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Cambiar contraseña</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Guardar nueva contraseña</button>
                  </form>
<br>
                <input type="button" onclick="location.href='/editar_usuario';" value="Volver" />
            </div>
        </div>
    </div>




{% endblock %}





