{% extends "AppProyectoFinal/padre_admin.html" %}

{% block Titulo %} Borrar mensaje {% endblock  %}

{% block CuerpoDeLaPagina %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-left">
            <div class="col-lg-10">
                <h2>¿Esta seguro que desea borrar?</h2>    
                <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        
                    <input type="submit" value="Sa">


<input type="button" onclick="location.href='/foro_lista_administrador';" value="Mejor no" />

            </div>
        </div>
    </div>
</section>


{% endblock %}