{% extends "AppProyectoFinal/padre.html" %}

{% block Titulo %} Inicio {% endblock  %}

{% block CuerpoDeLaPagina %}
{% load static %}


<header class="py-5 bg-image-full" style="background-image: url('/static/AppProyectoFinal/media/IMG_20190609_175316.jpg')">
    <div class="text-center my-5">
        <br><br><br><br><br><br>
        <h1 class="text-white fs-3 fw-bolder">Blog</h1>
        <p class="text-white-50 mb-0">reseñas de libros</p>
        <br><br><br><br><br><br>
    </div>
</header>
{% endblock %} 
