{% extends "AppProyectoFinal/padre.html" %}

{% block Titulo %} Inicio {% endblock  %}

{% block CuerpoDeLaPagina %}
{% load static %}


<header class="py-5 bg-image-full" style="background-image: url('/static/AppProyectoFinal/img/{{img_fondo}}')">
    <div class="text-center my-5">
        <br><br><br><br><br><br>
        <h1 class="text-white fs-3 fw-bolder">{{nombre_del_blog}}</h1>
        <p class="text-white-50 mb-0">{{profesion}}</p>
        <br><br><br><br><br><br>
    </div>
</header>
{% endblock %} 
