{% extends "AppProyectoFinal/padre_admin.html" %}

{% block Titulo %} Mi perfil {% endblock  %}

{% block CuerpoDeLaPagina %}

<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Mi perfil</h2>

                <p class="mb-0"><b>{{user.username}}</b>  // <i> {{user.first_name}} {{user.last_name}}</i></p>
                <p class="mb-0">{{user.email}}</p>
                <br><br>
                <input type="button" onclick="location.href='/editar_usuario';" value="Editar mi usuario" />
            </div>
        </div>
    </div>




{% endblock %}