{% extends "AppProyectoFinal/padre.html" %}

{% block Titulo %} Podcast {% endblock  %}

{% block CuerpoDeLaPagina %}
<h5><input type="button" onclick="location.href='form_podcast';" value="Cargar tu link de podcast" /></h5>
<h5>Buscar un podcast por usuario</h5>
<form action="buscar_podcast" method="GET"> 
    <input type="text" name="usuario" id="usuario">
    <input type="submit" value="Buscar">
</form>
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-left">
            <div class="col-lg-10">
                {% if podcast_list %}
                <h2>Podcast</h2>
                    
                </form>
                {% for x in podcast_list %}
                <p>subido por {{x.usuario}} el {{x.fecha}}<p>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/{{x.link}}?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                
                    
                {% endfor %}             
            </div>
        </div>
    </div>
    {% else %}
    No hay podcast
    {% endif %}
</section>


{% endblock %}